<div *ngIf="!requesting">
	<div [class.d-none]="displayPreview">
		<corpo-header>Evaluación Condición Física</corpo-header>
		<div [class.d-none]="displayResult">
			<section class="wrapper">
				<div [class.d-none]="step != 1">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Realiza actividad física actualmente?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="currentlyPhysicalActivity" (ionChange)="
						selectOption('currentlyPhysicalActivity')">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"  
							></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 2">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿De forma competitiva-deporte?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="competitiveCurrentlyPhysicalActivity" (ionChange)="selectOption('competitive-currentlyPhysicalActivity')"
							>
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 3">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Qué deporte realiza?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="sportCurrentlyPhysicalActivity" type="text"></ion-input>
						</div>
						<p class="sport d-none">*debe completar el campo</p>
					</div>
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Cuántas veces a la semana entrena?</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTraining('competitive-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberTrainingSessionsWeekCompetitive">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTraining('competitive-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="times d-none">*debe ingresar un número mayor a 0.</p>
					</div>
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Cuántas hs a la semana entrena?</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitHourTraining('competitive-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="hoursTrainingSessionsWeekCompetitive">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitHourTraining('competitive-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="hours d-none">*debe ingresar un número mayor a 0.</p>
					</div>
					<div class="strength-training-question">
						<div class="card-body text-center bg-dark mt-2">
							<h6 class="text-white">¿Realiza entrenamiento de fuerza?</h6>
						</div>
						<ion-list>
							<ion-radio-group [(ngModel)] ="currentlyStrengthTrainingCompetitive" (ionChange)="
							selectOption('currentlyStrengthTraining-competitive')
						">
								<ion-item>
									<ion-label>Si</ion-label>
									<ion-radio color="success" value="yes"></ion-radio>
								</ion-item>
 
								<ion-item>
									<ion-label>No</ion-label>
									<ion-radio color="danger" value="no"></ion-radio>
								</ion-item>
							</ion-radio-group>
						</ion-list>
					</div>
				</div>
 
				<div [class.d-none]="step != 4">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Cuántas veces por semana realiza entrenamiento de fuerza?
						</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTrainingStrength('competitive-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberStrengthTrainingSessionsWeekCompetitive">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTrainingStrength('competitive-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="times-strength d-none">*el número debe ser mayor a 0.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 5">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Realizó alguna vez entrenamiento de fuerza?
						</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="strengthTrainingInThePastCompetitive" (ionChange)="
						selectOption('strengthTrainingInThePast-competitive')
					" >
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes" ></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 6">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Hace cuánto tiempo?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="timeSinceLastTrainingCurrentlyPhysicalActivityCompetitive">
							</ion-input>
						</div>
						<p class="time-since-last d-none">*debe completar el campo.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 7">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿De forma constante con una planilla de seguimiento?
						</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="spreadsheetCurrentlyPhysicalActivity" (ionChange)="
						selectOption('spreadsheet-currentlyPhysicalActivity')
					">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 8">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Cuántas veces a la semana entrena?</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTraining('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberTrainingSessionsWeekSpreadsheet">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTraining('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="times d-none">*debe ingresar un número mayor a 0.</p>
					</div>
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Cuántas hs a la semana entrena?</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitHourTraining('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="hoursTrainingSessionsWeekSpreadsheet">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitHourTraining('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="hours d-none">*debe ingresar un número mayor a 0.</p>
					</div>
 
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Qué tipo de entrenamiento realiza?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="trainingTypeSpreadsheetCurrentlyPhysicalActivity"
						(ionChange)="selectOption('trainingTypeSpreadsheet-currentlyPhysicalActivity')">
							<ion-item>
								<ion-label>Aeróbico</ion-label>
								<ion-radio color="success" value="aerobic"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>Fuerza</ion-label>
								<ion-radio color="success" value="strength"></ion-radio>
							</ion-item>
							<ion-item>
								<ion-label>Ambos</ion-label>
								<ion-radio color="success" value="aerobic-strength"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 9">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Cuántas veces por semana realiza entrenamiento de fuerza?
						</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
										<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTrainingStrength('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberStrengthTrainingSessionsWeekSpreadsheet">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTrainingStrength('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="timesStrength d-none">*el número debe ser mayor a 0.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 10">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Realizó alguna vez entrenamiento de fuerza?
						</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="strengthTrainingInThePastSpreadsheet" (ionChange)="
						selectOption('strengthTrainingInThePast-spreadsheet')
					">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 11">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Hace cuánto tiempo?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="timeSinceLastTrainingCurrentlyPhysicalActivitySpreadsheet">
							</ion-input>
						</div>
						<p class="time-since-last d-none">*debe completar el campo.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 12">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Cuántas veces por semana realiza entrenamiento de fuerza?
						</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTrainingStrength('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberStrengthTrainingSessionsWeekSpreadsheet">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTrainingStrength('spreadsheet-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="times-strength d-none">*el número debe ser mayor a 0.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 13">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Cuántas veces a la semana entrena?</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTraining('recreational-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberTrainingSessionsWeekRecreational">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTraining('recreational-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="times d-none">*debe ingresar un número mayor a 0.</p>
					</div>
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Cuántas hs a la semana entrena?</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitHourTraining('recreational-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="hoursTrainingSessionsWeekRecreational">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitHourTraining('recreational-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="hours d-none">*debe ingresar un número mayor a 0.</p>
					</div>
 
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Qué tipo de entrenamiento realiza?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="trainingTypeRecreationalCurrentlyPhysicalActivity"
							(ionChange)="selectOption('trainingTypeRecreational-currentlyPhysicalActivity')">
							<ion-item>
								<ion-label>Aeróbico</ion-label>
								<ion-radio color="success" value="aerobic"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>Fuerza</ion-label>
								<ion-radio color="success" value="strength"></ion-radio>
							</ion-item>
							<ion-item>
								<ion-label>Ambos</ion-label>
								<ion-radio color="success" value="aerobic-strength"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
 
				<div [class.d-none]="step != 14">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Realizó alguna vez entrenamiento de fuerza?
						</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="strengthTrainingInThePastRecreational" (ionChange)="
						selectOption('strengthTrainingInThePast-recreational')
					">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 15">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Hace cuánto tiempo?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="timeSinceLastTrainingCurrentlyPhysicalActivityRecreational">
							</ion-input>
						</div>
						<p class="time-since-last d-none">*debe completar el campo.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 16">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿Cuántas veces por semana realiza entrenamiento de fuerza?
						</h6>
						<div class="container py-4">
							<div class="row">
								<div class="col-6 mx-auto">
									<div class="input-group">
										<span class="input-group-prepend">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]" min="0" (click)="dencreaseUnitNumberTrainingStrength('recreational-currentlyPhysicalActivity')">
												<span class="fa fa-minus"></span>
											</button>
										</span>
										<input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="numberStrengthTrainingSessionsWeekRecreational">
										<span class="input-group-append">
											<button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]" (click)="increaseUnitNumberTrainingStrength('recreational-currentlyPhysicalActivity')">
												<span class="fa fa-plus"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<p class="times-strength d-none">*el número debe ser mayor a 0.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 17">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Realizó alguna vez actividad física?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="physicalActivityInThePast" (ionChange)="
						selectOption('physicalActivityInThePast')
					">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 18">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿De forma competitiva-deporte?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="competitivePhysicalActivityInThePast"
						(ionChange)="selectOption('competitive-physicalActivityInThePast')">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 19">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Qué deporte?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="sportPhysicalActivityInThePast"></ion-input>
						</div>
						<p class="sport d-none">*debe completar el campo</p>
					</div>
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Hace cuánto dejo?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="timeSinceLastTrainingPhysicalActivityInThePastCompetitive">
							</ion-input>
						</div>
						<p class="time-since-last d-none">*debe completar el campo.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 20">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">
							¿De forma constante con una planilla de seguimiento?
						</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="spreadsheetPhysicalActivityInThePast" (ionChange)="
						selectOption('spreadsheet-physicalActivityInThePast')
					">
							<ion-item>
								<ion-label>Si</ion-label>
								<ion-radio color="success" value="yes"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>No</ion-label>
								<ion-radio color="danger" value="no"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 21">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Qué tipo de entrenamiento realizó?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="trainingTypePhysicalActivityInThePastSpreadsheet"
						(ionChange)="selectOption('trainingTypeSpreadsheet-physicalActivityInThePast')">
							<ion-item>
								<ion-label>Aeróbico</ion-label>
								<ion-radio color="success" value="aerobic"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>Fuerza</ion-label>
								<ion-radio color="success" value="strength"></ion-radio>
							</ion-item>
							<ion-item>
								<ion-label>Ambos</ion-label>
								<ion-radio color="success" value="aerobic-strength"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 22">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Hace cuánto tiempo?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="timeSinceLastTrainingPhysicalActivityInThePastSpreadsheet">
							</ion-input>
						</div>
						<p class="time-since-last d-none">*debe completar el campo.</p>
					</div>
				</div>
 
				<div [class.d-none]="step != 23">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Qué tipo de entrenamiento realizó?</h6>
					</div>
					<ion-list>
						<ion-radio-group [(ngModel)]="trainingTypePhysicalActivityInThePastRecreational"
						(ionChange)="selectOption('trainingTypeRecreational-physicalActivityInThePast')">
							<ion-item>
								<ion-label>Aeróbico</ion-label>
								<ion-radio color="success" value="aerobic"></ion-radio>
							</ion-item>
 
							<ion-item>
								<ion-label>Fuerza</ion-label>
								<ion-radio color="success" value="strength"></ion-radio>
							</ion-item>
							<ion-item>
								<ion-label>Ambos</ion-label>
								<ion-radio color="success" value="aerobic-strength"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
 
				<div [class.d-none]="step != 24">
					<div class="card-body text-center bg-dark mt-2">
						<h6 class="text-white">¿Hace cuánto tiempo?</h6>
						<div class="bg-light">
							<ion-input [(ngModel)]="timeSinceLastTrainingPhysicalActivityInThePastRecreational">
							</ion-input>
						</div>
						<p class="time-since-last d-none">*debe completar el campo.</p>
					</div>
				</div>
 
				<div class="mt-2">
					<ion-button [class.d-none]="step == 1 || step == 25" expand="block" color="medium" class="main-center"
						(click)="return()">Volver</ion-button>
 
					<ion-button [class.d-none]="!displayNext" id="button-next" expand="block" color="success"
						class="main-center" (click)="goToNext()">Siguiente</ion-button>
				</div>
 
 
				<div class="mt-2" [class.d-none]="step !=25">
					<ion-button expand="block" color="medium" class="main-center"
						(click)="return()">Volver</ion-button>
 
					<ion-button expand="block" color="warning" class="main-center"
						(click)="goToPreview()">Vista previa</ion-button>
 
					<ion-button expand="block" color="success" class="main-center" (click)="completed()">
						Finalizar</ion-button>
				</div>
			</section>
		</div>
 
		<section class="wrapper" [class.d-none]="!displayResult">
			<div class="card card-body result-evaluation text-center" *ngIf="level">
				<h5 class="text-white">Su nivel de condición física es {{ level }}</h5>
			</div>
			<div class="mt-4">
				<ion-button id="button-next" expand="block" class="main-center" [routerLink]="['/evaluation-detail']">
					Ver resultados de evaluación</ion-button>
			</div>
 
			<div class="card card-body" *ngIf="testPending">
				<div class="card card-body result-evaluation text-center">
					<h5 class="text-white">
						Tienes asignado un test de Nivel {{ levelTestPending }}
					</h5>
				</div>
				<div class="mt-4">
					<ion-button expand="block" color="success" class="main-center" [routerLink]="['/test']"
						[queryParams]="{ id: testId }">Realizar Test</ion-button>
				</div>
			</div>
		</section>
	</div>
 
	<div *ngIf="displayPreview">
		<app-evaluation-preview [resultAnamnesis]="anamnesis" (displayEvaluation)="goToEvaluation()">
		</app-evaluation-preview>
		<div class="m-3">
			<ion-button expand="block" color="warning" class="main-center" (click)="goToEvaluation()">Modificar
			</ion-button>
			<ion-button expand="block" color="success" class="main-center" (click)="completed()">Finalizar</ion-button>
		</div>
	</div>
</div>
<section class="wrapper">
	<div class="w-100 text-center" *ngIf="requesting">
		<div class="spinner-border text-success" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</section>