.display {
    display: block;
}

.main-center{
    width: 100%;
    margin-bottom: 10px;
  }

  .result-evaluation {
      background-color: var(--ion-color-primary);
  }

  .validators{
      color: red;
      font-size: 13px;
      display: block;
  }
  