.display {
    display: block;
}

.main-center .button-native{
    width: 100%;
    margin-bottom: 10px;
    background: var(--ion-color-primary-ligth) !important;
    color: white !important;
   
  }

  .result-evaluation {
      background-color: var(--ion-color-success);
  }

  .validators{
      color: red;
      font-size: 13px;
      display: block;
  }
  
  .arrow-button {
    border: 2px solid #3f5740;
    background: #3a5939;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
    position: relative;
  }

  .down {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    margin: auto;
  }

  .up {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    margin: auto;
  }