
.wod-group {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f2f2f7;
  }

  .wod-table {
    margin-bottom: 0px;
    border-color: #999494;
    background-color: #dddddd;
  }
  
  .group-detail {
    display: block;
    width: fit-content;
    color: black;
    margin-bottom: 15px;
    font-weight: bolder;
  }

  .label-goal {
    color: #888888;
  }

  .goal {
    color: #000000;
    margin-left: 10px;
  }

  
.hide-percentage{
    display: none;
  }

  .main-center{
    width: 100%;
    margin-bottom: 10px;
  }

  .result-text{
    font-weight: bold;
    color: darkgreen;
  }