<div class="container">
	<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Abrir ventana de diálogo</button>-->

	<div class="modal-fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- cabecera del diálogo -->
				<div class="modal-header modal-title">
					<h4 class="modal-title">Recuperar Contraseña</h4>
					<button type="button" (click)="close()">X</button>
				</div>

				<!-- cuerpo del diálogo -->
				<div class="modal-body">
					<form [formGroup]="formRecoverPassword" *ngIf="!sentEmail">
						<p>
							Ingresa tu dirección de correo electrónico a continuación para
							restablecer tu contraseña.
						</p>
						<input
							type="text"
							formControlName="email"
							placeholder="Email"
							class="form-control"
						/>
						<p class="formValidators" *ngIf="sent && f.email.errors?.required">
							*Ingrese el email.
						</p>
						<p class="formValidators" *ngIf="sent && f.email.errors?.email">
							*Ingrese un email correcto.
						</p>
					</form>
					<p *ngIf="sentEmail">
						Revise la bandeja de entrada de su correo electronico.
					</p>
				</div>

				<!-- pie del diálogo -->
				<div class="modal-footer">
					<ion-button *ngIf="!sentEmail" type="button" color="success" (click)="submit()"
						>Enviar</ion-button
					>
					<ion-button *ngIf="sentEmail" type="button" color="success" (click)="close()"
					>Aceptar</ion-button
				>
				</div>
			</div>
		</div>
	</div>
</div>
