<corpo-header>Ficha de aptitud médica</corpo-header>
<section class="wrapper"  >
  <app-medical-history-form [class.d-none]="requesting && !age" [age]="age" (requesting)="finishRequesting()"></app-medical-history-form>
    <div class="mt-3" *ngIf="!requesting">
      <ion-button
        expand="block"
        color="medium"
        class="main-center"
        [routerLink]="['/my-account']"
        >Volver</ion-button
      >
    
      <ion-button
      *ngIf="planType == 1"
        expand="block"
        color="success"
        class="main-center"
        (click)="submit()"
        >Siguiente</ion-button
      >
      <ion-button
      *ngIf="planType == 2" 
        expand="block"
        color="success"
        class="main-center"
        (click)="submit()"
        >Guardar</ion-button
      >
  </div>
  
<ion-spinner *ngIf="requesting"></ion-spinner>
</section>
