.div-question{
    background-color: var(--ion-color-secondary);
}

.div-response{
    background-color: var(--ion-color-tertiary);
    font-weight: bolder;
}

.div-header{
    background-color: var(--ion-color-primary);
}