<div *ngIf="!requesting">

	<div *ngIf="wod" [class.d-none]="displayStopwatch" class="wod-container wrapper">
		<div class="">
			<h6 class="text-center text-white">Wod Nº {{ wod.wodNumber }}</h6>
		</div>
		<div class="card">
			<div class="card-body">
				<label class="label-goal">Objetivos </label>

				<ul class="goal">
					<li *ngFor="let goal of getGoals(wod.wod.goal)">{{ goal }}</li>
				</ul>
			</div>
			<div class="card-body">
				<label class="label-goal">Intensidad:
					<span class="text-black">{{ wod.wod.intensity }}</span>
					<span [ngClass]="{ 'hide-percentage': wod.wod.intensityType == 1 }">%</span></label>
			</div>

		</div>


		<div class="card wod-group mt-2" *ngFor="let group of wod.wod.wodGroups; let i = index" [attr.data-index]="i">
			<label class="group-detail">
				{{ group.detail }}
			</label>

			<div class="">
				<table class="table table-bordered wod-table">
					<tbody>
						<tr *ngFor="let exerciseItem of group.exercises; let ei = index">
							<td class="col-10">
								<strong>{{ exerciseItem.exercise.name }}</strong>
								<span *ngIf="group.modality != 'Timers'"><br>{{ exerciseItem.units }}
									{{exerciseItem.unitType}}</span>
								<span *ngIf="group.modality == 'Timers'"> <br>Time Work: {{ exerciseItem.timeWork
									}}
									min. - Time Rest: {{exerciseItem.timeRest}} min.</span>
								<!-- {{
								exerciseItem.modality.name != "Repeticiones"
									? exerciseItem.modality.name
									: ""
							}} -->
								<app-shortest-possible-time [class.d-none]="group.modality != 'Tiempo'"
									[rounds]="group.rounds"
									(getResults)="getResultsTime($event, exerciseItem.id, group.groupIndex)">
								</app-shortest-possible-time>
								<app-amrap [class.d-none]="group.modality != 'AMRAP'"
									(getResults)="getResultsAmrap($event, exerciseItem.id, group.groupIndex)"
									[viewType]="'exercise'" [unitType]="exerciseItem.unitType">
								</app-amrap>
								<app-timers [class.d-none]="group.modality != 'Timers'"
									[timeWork]="exerciseItem.timeWork" [timeRest]="exerciseItem.timeRest"
									[unitType]="exerciseItem.unitType"
									(getResults)="getResultsTimers($event, exerciseItem.id, group.groupIndex)">
								</app-timers>


							</td>
							<td class="col-2">
								<div class="row justify-content-center aling-items-center">
									<div class="col-12 text-center">
										<img src="../../../../assets/icon/youtube.ico"
											(click)="openVideo(exerciseItem.exercise.video)" class="video-icon" />
									</div>
								</div>
							</td>
						</tr>
						<tr [class.d-none]="group.modality != 'Tiempo'">
							<td class="col-12" colspan="2">
								<div class="form-group mt-3 row">
									<label class="control-label col-12 text-black"><small>Tiempo total
											{{getTimeGroup(group.groupIndex)}} seg.</small></label>
								</div>
							</td>
						</tr>
						<!-- <tr [class.d-none]="group.modality != 'Timers'">
						<td class="col-12" colspan="2">
							<div class="form-group mt-3 row">
								<label class="control-label col-12 text-black"><small>Total repeticiones
										{{getRepetitionsGroup(group.groupIndex)}}</small></label>
							</div>
						</td>
					</tr> -->
						<tr [class.d-none]="group.modality != 'AMRAP'">
							<td class="col-12" colspan="2">
								<app-amrap [viewType]="'group'" [time]="group.time"
									(getResults)="getResultsAmrap($event, null, group.groupIndex)"></app-amrap>

							</td>
						</tr>
						<tr [class.d-none]="group.modality != 'Escalera'">
							<td class="col-12" colspan="2">
								<app-staggered (getResults)="getResultsStaggered($event, group.groupIndex)">
								</app-staggered>
							</td>
						</tr>
						<tr [class.d-none]="group.modality != 'EMOM'">
							<td class="col-12" colspan="2">
								<app-emom (getResults)="getResultsEmom($event, group.groupIndex)"></app-emom>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="mt-4">
			<ion-button expand="block" color="medium" class="main-center" (click)="goBack()">Cancelar</ion-button>
			<ion-button expand="block" color="success" class="main-center" (click)="save()">
				Guardar</ion-button>
			
		</div>
	</div>




</div>
<ion-spinner *ngIf="requesting"></ion-spinner>