.wod-container {
  color: white;
}

.wod-group {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f2f2f7;
}

.wod-table {
  margin-bottom: 0px;
  border-color: #999494;
  background-color: #dddddd;
}

.group-detail {
  display: block;
  width: fit-content;
  color: black;
  margin-bottom: 15px;
}

.video-icon{
  color: #e10c0c;
  width: 20px;
}

.label-goal {
  color: #888888;
}

.goal {
  color: #000000;
  margin-left: 10px;
}

td.mode-value{
  font-size: 12px;
}

.hide-percentage{
  display: none;
}

.main-center{
  width: 100%;
  margin-bottom: 10px;
}

.arrow-button {
  border: 2px solid #3f5740;
  background: #3a5939;
  width: 40px;
  height: 38px;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.down {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 100;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  margin: auto;
}

.up {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 100;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
  margin: auto;
}
