<corpo-header>Mis Test</corpo-header>
<section class="wrapper" *ngIf="!requestingExercise && exercise">
	<div *ngIf="!displayEvaluation">
		<div class="container">
			<div class="month text-center mb-3">
				<strong>Ejercicio - {{ exercise.name }}</strong>
			</div>
			<div *ngIf="exercise.protocol" class="month text-center mb-3">
				<strong>Protocolo:</strong> <br />
				<p>{{ exercise.protocol }}</p>
			</div>

			<div *ngIf="type == 1" class="bg-dark">
				<ion-card class="margin-card">
					<ion-item>
						<ion-icon
							class="color-icon"
							name="alarm-outline"
							slot="start"
						></ion-icon>
						<ion-label>Tiempo</ion-label>
					</ion-item>
					<div class="p-3 row">
						<div class="col-6">
							<ion-label>Minutos</ion-label>
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="minutes"
							></ion-input>
						</div>
						<div class="col-6">
							<ion-label>Segundos</ion-label>
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="seconds"
							></ion-input>
						</div>
					</div>

					<ion-item>
						<ion-icon
							class="color-icon"
							name="fitness-outline"
							slot="start"
						></ion-icon>
						<ion-label>Frecuencia Cardíaca Inicial</ion-label>
					</ion-item>
					<div class="p-3 row justify-content-center align-items-center">
						<div class="text-center col-6">
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="initialHeartRate"
							></ion-input>
						</div>
					</div>

					<ion-item>
						<ion-icon
							class="color-icon"
							name="fitness-outline"
							slot="start"
						></ion-icon>
						<ion-label>Frecuencia Cardíaca Final</ion-label>
					</ion-item>
					<div class="p-3 row justify-content-center align-items-center">
						<div class="text-center col-6">
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="finalHeartRate"
							></ion-input>
						</div>
					</div>
				</ion-card>
			</div>

			<div *ngIf="type == 2">
				<ion-card class="margin-card">
					<ion-item>
						<ion-icon
							class="color-icon"
							name="alarm-outline"
							slot="start"
						></ion-icon>
						<ion-label
							>Tiempo: {{ exercise.minutes }} min -
							{{ exercise.seconds }} seg</ion-label
						>
					</ion-item>

					<ion-item>
						<ion-icon
							class="color-icon"
							name="barbell-outline"
							slot="start"
						></ion-icon>
						<ion-label>Repeticiones</ion-label>
					</ion-item>
					<div class="p-3 row justify-content-center align-items-center">
						<div class="text-center col-6">
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="repetitions"
							></ion-input>
						</div>
					</div>

					<ion-item>
						<ion-icon
							class="color-icon"
							name="fitness-outline"
							slot="start"
						></ion-icon>
						<ion-label>Frecuencia Cardíaca Inicial</ion-label>
					</ion-item>
					<div class="p-3 row justify-content-center align-items-center">
						<div class="text-center col-6">
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="initialHeartRate"
							></ion-input>
						</div>
					</div>

					<ion-item>
						<ion-icon
							class="color-icon"
							name="fitness-outline"
							slot="start"
						></ion-icon>
						<ion-label>Frecuencia Cardíaca Final</ion-label>
					</ion-item>
					<div class="p-3 row justify-content-center align-items-center">
						<div class="text-center col-6">
							<ion-input
								type="number"
								class="color-input ps-2"
								[(ngModel)]="finalHeartRate"
							></ion-input>
						</div>
					</div>
				</ion-card>
			</div>

			<div *ngIf="type == 3">
				<ion-card class="margin-card">
					<ion-item>
						<ion-icon
							class="color-icon"
							name="film-outline"
							slot="start"
						></ion-icon>
						<ion-label
							><a class="color-link cursor-pointer" href="{{ exercise.video }}"
								>Video ejemplo</a
							></ion-label
						>
						<ion-icon class="color-icon cursor-pointer" name="eye" slot="end"></ion-icon>
					</ion-item>

					<ion-item>
						<ion-icon
							class="color-icon"
							name="film-outline"
							slot="start"
						></ion-icon>
						<ion-label
							><a
								id="selectVideo"
								class="color-link cursor-pointer"
								onclick="document.getElementById('video-button').click();"
							>
								<!--<i class="fas fa-upload"></i>-->
								Mi video
							</a></ion-label
						>
						<ion-icon
							class="color-icon cursor-pointer"
							name="arrow-up-circle-outline"
							slot="end"
							onclick="document.getElementById('video-button').click();"
						></ion-icon>
						<input
							accept="video/mp4"
							type="file"
							id="video-button"
							(change)="onFileSelectionVideo($event)"
							style="display: none"
						/>
					</ion-item>

					<ion-item [class.d-none]="urlsVideo.length == 0">
						<video
							*ngFor="let url of urlsVideo"
							class="text-center col-12"
							[src]="url"
							controls
						>
							Vídeo no es soportado...
						</video>
					</ion-item>

					<ion-item>
						<ion-icon class="color-icon" name="image" slot="start"></ion-icon>
						<ion-label
							><a
								id="selectImg"
								class="color-link cursor-pointer"
								onclick="document.getElementById('file-button').click();"
							>
								<!--<i class="fas fa-upload"></i>-->
								Mi imagen
							</a></ion-label
						>
						<ion-icon
							class="color-icon cursor-pointer"
							name="arrow-up-circle-outline"
							slot="end"
							onclick="document.getElementById('file-button').click();"
						></ion-icon>
						<input
							accept="image/*"
							type="file"
							id="file-button"
							(change)="onFileSelectionImg($event)"
							style="display: none"
						/>
					</ion-item>

					<ion-item [class.d-none]="urlsImg.length == 0">
							<img  *ngFor="let url of urlsImg" class="text-center col-12 img-evaluation" [src]="url" />
						
					</ion-item>
				</ion-card>
			</div>
		</div>
		<div class="container mt-3">
			<ion-button
				[class.d-none]="type != 3"
				[disabled]="!(fileVideo && fileImg)"
				expand="block"
				color="warning"
				class="margin-btn text-white"
				(click)="viewEvaluation()"
				>Evaluar</ion-button
			>

			<ion-button
				[class.d-none]="type == 3"
				expand="block"
				color="success"
				class="margin-btn"
				(click)="save()"
				>Guardar</ion-button
			>
			<ion-button
				expand="block"
				color="medium"
				class="margin-btn"
				[routerLink]="['/test']"
				[queryParams]="{ id: testId }"
				>Volver
			</ion-button>
		</div>
	</div>
	<div *ngIf="displayEvaluation">
		<div class="month text-center mb-3">
			<strong>Evaluación de - {{ exercise.name }}</strong>
		</div>

		<ion-card>
			<ion-toolbar color="medium" class="toolbar-label">
				<ion-label>Mi imagen</ion-label>
			</ion-toolbar>
			<ion-card>
				<img
					*ngFor="let url of urlsImg"
					class="col-12 text-center mt-3 mb-3"
					[src]="url"
				/>
			</ion-card>

			<ion-toolbar color="medium" class="toolbar-label">
				<ion-label>Compare con su imagen</ion-label>
			</ion-toolbar>
			<ion-radio-group>
				<ion-slides *ngIf="exerciseFms" pager="true">
					<ion-slide *ngFor="let file of exerciseFms.files; index as i">
						<ion-card class="div-rate rate-deselected">
							<div class="row mb-2" (click)="selectRate(file.rate, i)">
								<h1 class="col-12 text-white">{{ file.rate }}</h1>
								<div class="col-12">
									<div class="text-center">
										<ion-img
											class="img-evaluation"
											[src]="urlBase + file.path"
										></ion-img>
									</div>
								</div>
								<div class="col-12 mt-1">
									<h5 class="text-white">{{ file.description }}</h5>
								</div>
							</div>
						</ion-card>
					</ion-slide>
					<ion-slide>
						<ion-card class="div-rate rate-deselected">
							<div class="row mb-2" (click)="selectRate(0, 3)">
								<h1 class="col-12 text-white">0</h1>
								<div class="col-12 mt-1">
									<h5 class="text-white">Si hay dolor.</h5>
								</div>
							</div>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-radio-group>
		</ion-card>
		<!-- <ion-list *ngIf="exerciseFms">
				<ion-radio-group>
					<ion-item
						*ngFor="let file of exerciseFms.files"
						class="row mt-3 mb-3"
					>
						<ion-img [src]="urlBase + file.path" class="col-6"></ion-img>
						<div class="row col-6">
							<div class="col-6 pull-left">
								{{ file.rate }}
							</div>
							<div class="col-6 pull-rigth">
								<ion-radio value="{{ file.rate }}"></ion-radio>
							</div>

							<div class="col-12 mt-1">{{ file.description }}</div>
						</div>
					</ion-item>
					<ion-item class="row mt-3 mb-3">
						<div class="col-6"></div>
						<div class="row col-6">
							<div class="col-6 pull-left">
								0
							</div>
							<div class="col-6 pull-rigth">
								<ion-radio value="0"></ion-radio>
							</div>

							<div class="col-12 mt-1">Si hay dolor.</div>
						</div>
					</ion-item>
				</ion-radio-group>
			</ion-list> -->

		<div class="container">
			<ion-button
				[disabled]="!selectedRate"
				expand="block"
				color="success"
				class="margin-btn"
				(click)="save()"
				>Guardar</ion-button
			>
			<ion-button
				expand="block"
				color="medium"
				class="margin-btn"
				(click)="hideEvaluation()"
				>Volver
			</ion-button>
		</div>
	</div>
</section>
<section class="wrapper">
	<div class="w-100 text-center" *ngIf="requestingExercise && !exercise">
		<div class="spinner-border text-success" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</section>
