@import "../../../../global.scss";

.box-content {
  background-color: $background-color;
  border: none;
}

.text-information{
color: white;
font-size: 13px;
margin-bottom: 0;
}


.text-validators{
  color: red;
  font-size: 13px;
  margin-bottom: 0;
  }

  .password-view{
    height: 38px;
  }

  .div-password-view {
    width: 13%;
    padding-left: 0px;
    padding-right: 0px;
  }
