<corpo-header>Editar datos personales</corpo-header>
<section class="wrapper" [class.d-none]="requesting">
	<app-member-form [step]="step" (requesting)="finishRequesting($event)"></app-member-form>
	<div class="row justify-content-center aling-items-center mt-4">
		<div class="row col-12">
			<ion-button
				color="medium"
				class="col-6 margin-btn pull-left"
				(click)="return()"
				>Volver</ion-button
			>

			<ion-button
				[class.d-none]="step == 2"
				color="success"
				class="col-6 margin-btn pull-right"
				(click)="next()"
				>Siguiente</ion-button
			>

			<ion-button
				[class.d-none]="step != 2"
				color="success"
				class="col-6 margin-btn pull-right"
				(click)="submit()"
				>Guardar</ion-button
			>
		</div>
	</div>
</section>
<ion-spinner *ngIf="requesting"></ion-spinner>