.btn-submit {
    background-color:  #86b686;
    color: white;
    border:solid, 1px, #32ac32;
  }

  .margin-btn{
    margin-right: inherit;
  }
  
  .main-center{
    width: 100%;
    margin-bottom: 10px;
  }