<corpo-header>Editar datos personales</corpo-header>
<section class="wrapper" [class.d-none]="requesting">
	<app-member-form [step]="step" (requesting)="finishRequesting($event)"></app-member-form>
	<div class="mt-1">
		
			<ion-button
				color="medium"
				expand="block" 
				(click)="return()"
				>Volver</ion-button
			>

			<ion-button
				[class.d-none]="step == 2"
				color="success"
				expand="block" 
				(click)="next()"
				>Siguiente</ion-button
			>

			<ion-button
				[class.d-none]="step != 2"
				color="success"
				expand="block" 
				(click)="submit()"
				>Guardar</ion-button
			>
	
	</div>
</section>
<ion-spinner *ngIf="requesting"></ion-spinner>