<corpo-header>Modificar Contraseña</corpo-header>
<section class="wrapper">
	<form [formGroup]="modificationForm">
		<div class="row">
			<div class="col-12 form-group">
				<label class="col-sm-12 control-label">Contraseña actual::</label>
				<div class="formValidators">
					<input
						type="password"
						class="form-control"
						formControlName="password"
					/>
				</div>
			</div>
			<div class="col-12 form-group">
				<label class="col-12 control-label">Nueva contraseña:</label>
				<div class="formValidators">
					<input
						type="password"
						class="form-control"
						formControlName="newPassword"
					/>
          <p *ngIf="sendForm && f.newPassword.errors?.required">
						*el campo es requerido
					</p>
					<p *ngIf="sendForm && f.newPassword.errors?.pattern">
						*Debe contener una mayúscula, ser alfanúmerica y tener entre 8 y 15 caracteres
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 form-group">
			<label class="col-sm-12 control-label"
				>Confirma tu nueva contraseña:</label
			>
			<div class="formValidators">
				<input
					type="password"
					class="form-control"
					formControlName="repeatNewPassword"
				/>
        <p *ngIf="sendForm && f.repeatNewPassword.errors?.mustMatch">
          *las contraseñas no coinciden
				</p>
			</div>
		</div>
	</form>
	<div class="mt-4">
		<ion-button
			expand="block"
			color="medium"
			class="main-center"
			[routerLink]="['/my-account']"
			>Volver</ion-button
		>

		<ion-button
			expand="block"
			color="success"
			class="main-center"
			(click)="submit()"
			>Guardar</ion-button
		>
	</div>
</section>

